*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-size: 16px;
	background: url(images/IMG_2474_web.jpg) repeat center fixed;
/*	background: url(images/farewellblackfield.jpg) repeat center fixed;*/
	background-size: 100%;
	position: relative;
	overflow: auto;
}
nav a{
	text-decoration: none;
	font-family: 'Andale Mono';
	font-size: 1em;
/*	width: auto;*/
	color: white;
/*	margin: 4em;*/
	padding-top: 40px;
	letter-spacing: 46px;
	text-align: center;
}
nav a:hover{
	color: black;
}
h1{
	font-family: 'Andale Mono';
	font-size: 0.75em;
	color: white;
	text-align: right;
	padding-right: 225px;
	letter-spacing: 4.1px;
}
img{
	height:100px;
	width:100px;
	border-radius: 5px;

}
.box a{
	text-decoration: none;
	font-size: 3.3em;
	color: rgba(0,0,0,0.58);
}
.box a:hover{
/*	background-image: url(images/pia.jpg);*/
	color: white;

}
.fixed-nav-bar{
	padding-top: 40px;
	width: auto;
	margin: auto;
	height: 100px;
	text-align: center;
/*	position: fixed;*/
}
.wrap{
	height: 180px;
	width: 84%;
	margin: 80px auto;
	background-color: rgba(0,0,0,0);

}
.box{
	height:100px;
	width: 100px;
	margin: 3%;
	background-color: rgba(2,2,2,0.33);
/*	background-image: url(images/IMG_2478_web.jpg);*/
	float: left;
	padding: 32px;
	border-radius: 5px;
	}
.imagebox{
	height:100px;
	width: 100px;
	margin: 3%;
	float: left;
/* 	padding: 32px; */
	border-radius: 5px;
}	
@media only screen and (max-width: 640px) {
	h1{ text-align: center;
		padding-right: 0px;}
}
